<ion-header class="ion-no-border">
  <ion-toolbar class="page-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'contacts' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" disabled aria-hidden="true" tabindex="-1" class="toolbar-balance">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content ion-padding">
  <div class="feature-card">
    <div class="feature-card__header">{{ 'ideaAndSuggestions' | translate }}</div>
    <div class="feature-card__body">
      <a href="mailto:info@rainbow-manager.com">info@rainbow-manager.com</a>
    </div>
  </div>
  <div class="feature-card">
    <div class="feature-card__header">{{ 'supportAndAssistance' | translate }}</div>
    <div class="feature-card__body">
      <a href="mailto:support@rainbow-manager.com">support@rainbow-manager.com</a>
    </div>
  </div>
</ion-content>
