<ion-header>
  <ion-toolbar class="page-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'contacts' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content ion-padding">
  <div class="feature-card">
    <div class="feature-card__header">{{ 'ideaAndSuggestions' | translate }}</div>
    <div class="feature-card__body">
      <a href="mailto:info@rainbow-manager.com">info@rainbow-manager.com</a>
    </div>
  </div>
  <div class="feature-card">
    <div class="feature-card__header">{{ 'supportAndAssistance' | translate }}</div>
    <div class="feature-card__body">
      <a href="mailto:support@rainbow-manager.com">support@rainbow-manager.com</a>
    </div>
  </div>
</ion-content>
