<ion-header class="ion-no-border">
  <ion-toolbar class="page-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="openAppMenu()"><ion-icon slot="icon-only" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{ 'consultation' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content ion-padding">
  <div class="feature-card">
    <div class="feature-card__header">{{ 'consultation' | translate }}</div>
    <div class="feature-card__body">
      <p>{{ 'welcomeHint' | translate }}</p>
      <ion-button expand="block" color="primary" (click)="openTelegram()">
        {{ 'telegram' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
