.DS_Store
node_modules
/dist
apps/mobile/www
apps/mobile/.angular


# local env files
.env
.env.local
.env.*.local
apps/mobile/.env
apps/mobile/.local/
apps/mobile/android/app/google-services.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

