$type-colors: (
        success: #57b846,
        error: #f44336,
        info: #2196f3,
        warning: #ff9800,
        secondary: #E5E5E5
);

:root {
  --color-bg: linear-gradient(-135deg, #c850c0, #4158d0);
  --color-text: #000;
  --color-wrap-bg: #fff;
  --header-height: 76px;
  --tabs-height-with-padding: 80px;
  --active-doing: #ffd700
}

.dark {
  --color-bg: #111;
  --color-text: #eee;
  --color-wrap-bg: #111;


  .toast {
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.4), 0 0 24px rgba(0, 255, 255, 0.2);

    &.success {
      box-shadow: 0 0 12px rgba(87, 184, 70, 0.6), 0 0 24px rgba(87, 184, 70, 0.3);
    }

    &.error {
      box-shadow: 0 0 12px rgba(244, 67, 54, 0.6), 0 0 24px rgba(244, 67, 54, 0.3);
    }

    &.info {
      box-shadow: 0 0 12px rgba(33, 150, 243, 0.6), 0 0 24px rgba(33, 150, 243, 0.3);
    }

    &.warning {
      box-shadow: 0 0 12px rgba(255, 152, 0, 0.6), 0 0 24px rgba(255, 152, 0, 0.3);
    }
  }
}

body {
  font-family: system-ui, sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}

a {
  all: unset; /* сбросить все браузерные стили */
  cursor: pointer; /* вернуть курсор-руку, т.к. unset убирает */
  text-decoration: none;
  color: inherit; /* цвет текста как у родителя */
}



