:root {
  --color-bg: linear-gradient(-135deg, #c850c0, #4158d0);
  --color-text: #000;
  --color-wrap-bg: #fff;
}

.dark {
  --color-bg: #111;
  --color-text: #eee;
  --color-wrap-bg: #111;
}

body {
  font-family: system-ui, sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}


