<ion-header class="ion-no-border">

  <ion-toolbar class="page-toolbar">

    <ion-title>{{ 'more' | translate }}</ion-title>

  </ion-toolbar>

</ion-header>



<ion-content class="page-content">

  <div class="more">

    <section>

      <h2 class="rm-section-title">{{ 'tools' | translate }}</h2>

      <ion-list class="rm-list" lines="full">

        @for (link of links; track link.url) {

          <ion-item button detail [routerLink]="link.url">

            <ion-icon slot="start" [name]="link.icon"></ion-icon>

            <ion-label>{{ link.titleKey | translate }}</ion-label>

          </ion-item>

        }

      </ion-list>

    </section>



    <section class="more-settings">

      <h2 class="rm-section-title">{{ 'settings' | translate }}</h2>

      <ion-list class="rm-list" lines="full">

        <ion-item>

          <ion-icon slot="start" name="moon"></ion-icon>

          <ion-label>{{ 'theme' | translate }}</ion-label>

          <ion-toggle

            slot="end"

            [checked]="theme.isDark"

            (ionChange)="onThemeChange($any($event.detail.checked))"

          ></ion-toggle>

        </ion-item>

        <ion-item>

          <ion-icon slot="start" name="globe-outline"></ion-icon>

          <ion-label>{{ 'language' | translate }}</ion-label>

          <ion-segment

            slot="end"

            class="lang"

            [value]="language.language"

            (ionChange)="setLanguage($any($event.detail.value))"

          >

            <ion-segment-button value="en">EN</ion-segment-button>

            <ion-segment-button value="ru">RU</ion-segment-button>

          </ion-segment>

        </ion-item>

      </ion-list>

    </section>



    <ion-button expand="block" color="medium" fill="outline" class="logout" (click)="logout()">

      <ion-icon name="log-out-outline" slot="start"></ion-icon>

      {{ 'logout' | translate }}

    </ion-button>

  </div>

</ion-content>

