<ion-header class="ion-no-border">
  <ion-toolbar class="page-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'signUp' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div class="auth">
    <div class="auth-intro">
      <h1>{{ 'signUp' | translate }}</h1>
      <p>{{ 'welcomeHint' | translate }}</p>
    </div>

    <form class="auth-form" [formGroup]="form" (ngSubmit)="submit()">
      <ion-input
        class="auth-input"
        formControlName="email"
        type="email"
        fill="solid"
        [label]="'email' | translate"
        labelPlacement="stacked"
        autocomplete="email"
        inputmode="email"
      ></ion-input>

      <ion-input
        class="auth-input"
        formControlName="password"
        type="password"
        fill="solid"
        [label]="'password' | translate"
        labelPlacement="stacked"
        autocomplete="new-password"
      ></ion-input>

      <ion-input
        class="auth-input"
        formControlName="confirmPassword"
        type="password"
        fill="solid"
        [label]="'confirmPassword' | translate"
        labelPlacement="stacked"
        autocomplete="new-password"
      ></ion-input>

      <ion-button
        expand="block"
        type="submit"
        class="rm-cta-login"
        [disabled]="loading() || loadingGoogle()"
      >
        @if (loading()) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          <span>{{ 'signUp' | translate }}</span>
        }
      </ion-button>

      <ion-button
        expand="block"
        fill="solid"
        class="rm-btn-google"
        type="button"
        (click)="google()"
        [disabled]="loadingGoogle() || loading()"
      >
        @if (loadingGoogle()) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          <ion-icon name="logo-google" aria-hidden="true"></ion-icon>
          <span>{{ 'loginWithGoogle' | translate }}</span>
        }
      </ion-button>

      <div class="links">
        <a routerLink="/sign-in">{{ 'signIn' | translate }}</a>
      </div>
    </form>
  </div>
</ion-content>
