<ion-menu
  menuId="app-menu"
  contentId="tabs-main"
  type="overlay"
  [swipeGesture]="true"
  (ionDidClose)="onMenuDidClose()"
>
  <ion-header>
    <ion-toolbar class="app-menu__toolbar">
      <div class="app-menu__brand">
        <img src="assets/rainbow-logo.svg" alt="Rainbow Manager" />
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="app-menu__content">
    @if (!activeGroup) {
      <div class="app-menu__tiles" role="navigation">
        @for (group of menuGroups; track group.id) {
          <button
            type="button"
            class="app-menu__tile"
            [class.is-active]="isGroupActive(group)"
            (click)="openGroup(group)"
          >
            <span class="app-menu__tile-icon" aria-hidden="true">
              <svg [attr.viewBox]="group.iconViewBox">
                <path [attr.d]="group.iconPath"></path>
              </svg>
            </span>
            <span class="app-menu__tile-label">{{ group.titleKey | translate }}</span>
            <span class="app-menu__tile-hint">{{ group.hintKey | translate }}</span>
          </button>
        }
      </div>
    } @else {
      <div class="app-menu__subgroup">
        <button type="button" class="app-menu__back" (click)="closeGroup()">
          <ion-icon name="chevron-back-outline" aria-hidden="true"></ion-icon>
          <span>{{ 'menuGroupBack' | translate }}</span>
        </button>
        <h2 class="app-menu__subgroup-title">{{ activeGroup.titleKey | translate }}</h2>
        <ion-list lines="none" class="app-menu__list">
          @for (item of activeGroup.items; track item.url) {
            <ion-item
              [class.is-active]="isMenuActive(item.url)"
              (click)="navigateMenu(item.url)"
            >
              <svg
                slot="start"
                class="app-menu__nav-icon"
                [attr.viewBox]="item.iconViewBox"
                aria-hidden="true"
              >
                <path [attr.d]="item.iconPath"></path>
              </svg>
              <ion-label>{{ item.titleKey | translate }}</ion-label>
            </ion-item>
          }
        </ion-list>
      </div>
    }

    <div class="app-menu__divider"></div>

    <div class="app-menu__settings">
      <p class="app-menu__label">{{ 'themeSettings' | translate }}</p>
      <div class="app-menu__setting-control">
        <label class="theme-switch">
          <input
            type="checkbox"
            [checked]="theme.isDark"
            (change)="setTheme($any($event.target).checked)"
          />
          <span class="theme-switch__track"></span>
        </label>
        <span class="app-menu__current-value">
          {{ (theme.isDark ? 'dark' : 'light') | translate }}
        </span>
      </div>

      <p class="app-menu__label">{{ 'languageSettings' | translate }}</p>
      <app-sheet-select
        label=""
        [placeholder]="'languageSettings' | translate"
        [value]="language.language"
        [emptyValue]="language.language"
        [compact]="true"
        [options]="languageOptions"
        (valueChange)="setLanguage($any($event))"
      ></app-sheet-select>
    </div>

    <div class="app-menu__divider"></div>

    <ion-list lines="none" class="app-menu__list">
      <ion-item class="app-menu__logout" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>{{ 'logout' | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div
  class="ion-page"
  id="tabs-main"
  [class.tabs-main--no-bar]="!showTabBar"
>
  <ion-tabs>
    @if (showTabBar) {
      <ion-tab-bar slot="bottom" class="rm-ion-tabbar">
        @for (tab of tabs; track tab.url) {
          <ion-tab-button [tab]="tab.tab" [href]="tab.url">
            <svg
              class="app-tab__icon"
              [attr.viewBox]="tab.iconViewBox"
              aria-hidden="true"
            >
              <path [attr.d]="tab.iconPath"></path>
            </svg>
            <ion-label>{{ tab.titleKey | translate }}</ion-label>
          </ion-tab-button>
        }
      </ion-tab-bar>
    }
  </ion-tabs>
</div>
