<ion-menu
  menuId="app-menu"
  contentId="tabs-main"
  type="overlay"
  [swipeGesture]="true"
>
  <ion-header>
    <ion-toolbar class="app-menu__toolbar">
      <div class="app-menu__brand">
        <button
          type="button"
          class="app-menu__avatar"
          [class.is-active]="isMenuActive('/tabs/account')"
          [attr.aria-label]="'account' | translate"
          (click)="openAccount()"
        >
          @if (avatarPhotoUrl) {
            <img [src]="avatarPhotoUrl" alt="" />
          } @else {
            <span>{{ avatarInitials }}</span>
          }
        </button>
        <div class="app-menu__brand-text">
          <strong>{{ avatarDisplayName || ('account' | translate) }}</strong>
          @if (avatarEmail) {
            <small>{{ avatarEmail }}</small>
          }
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="app-menu__content">
    <nav class="app-menu__accordion" aria-label="menu">
      @for (group of menuGroups; track group.id) {
        <section
          class="app-menu__section"
          [class.is-open]="isGroupExpanded(group)"
          [class.is-active]="isGroupActive(group)"
        >
          <button
            type="button"
            class="app-menu__section-head"
            [attr.aria-expanded]="isGroupExpanded(group)"
            (click)="toggleGroup(group)"
          >
            <svg
              class="app-menu__section-icon"
              [attr.viewBox]="group.iconViewBox"
              aria-hidden="true"
            >
              <path [attr.d]="group.iconPath"></path>
            </svg>
            <span class="app-menu__section-label">{{ group.titleKey | translate }}</span>
            @if (group.items.length > 1) {
              <ion-icon
                class="app-menu__section-chevron"
                name="chevron-down-outline"
                aria-hidden="true"
              ></ion-icon>
            }
          </button>

          @if (isGroupExpanded(group) && group.items.length > 1) {
            <ion-list lines="none" class="app-menu__list">
              @for (item of group.items; track item.url) {
                <ion-item
                  [class.is-active]="isMenuActive(item.url)"
                  (click)="navigateMenu(item.url)"
                >
                  <svg
                    slot="start"
                    class="app-menu__nav-icon"
                    [attr.viewBox]="item.iconViewBox"
                    aria-hidden="true"
                  >
                    <path [attr.d]="item.iconPath"></path>
                  </svg>
                  <ion-label>{{ item.titleKey | translate }}</ion-label>
                </ion-item>
              }
            </ion-list>
          }
        </section>
      }
    </nav>

    <div class="app-menu__divider"></div>

    <div class="app-menu__settings">
      <p class="app-menu__label">{{ 'themeSettings' | translate }}</p>
      <div class="app-menu__setting-control">
        <label class="theme-switch">
          <input
            type="checkbox"
            [checked]="theme.isDark"
            (change)="setTheme($any($event.target).checked)"
          />
          <span class="theme-switch__track"></span>
        </label>
        <span class="app-menu__current-value">
          {{ (theme.isDark ? 'dark' : 'light') | translate }}
        </span>
      </div>

      <p class="app-menu__label">{{ 'languageSettings' | translate }}</p>
      <app-sheet-select
        label=""
        [placeholder]="'languageSettings' | translate"
        [value]="language.language"
        [emptyValue]="language.language"
        [compact]="true"
        [options]="languageOptions"
        (valueChange)="setLanguage($any($event))"
      ></app-sheet-select>
    </div>

    <div class="app-menu__divider"></div>

    <ion-list lines="none" class="app-menu__list">
      <ion-item class="app-menu__logout" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>{{ 'logout' | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div
  class="ion-page"
  id="tabs-main"
  [class.tabs-main--no-bar]="!showTabBar"
>
  <ion-tabs>
    @if (showTabBar) {
      <ion-tab-bar slot="bottom" class="rm-ion-tabbar">
        @for (tab of tabs; track tab.url) {
          <ion-tab-button [tab]="tab.tab" [href]="tab.url">
            <svg
              class="app-tab__icon"
              [attr.viewBox]="tab.iconViewBox"
              aria-hidden="true"
            >
              <path [attr.d]="tab.iconPath"></path>
            </svg>
            <ion-label>{{ tab.titleKey | translate }}</ion-label>
          </ion-tab-button>
        }
      </ion-tab-bar>
    }
  </ion-tabs>
</div>
